/*Stylesheet for jobs.html*/
body {
	background-image: url("background.jpg"); /*sorry, but I had to*/
	background-repeat: repeat;
	background-attachment: fixed;
	font-family: "Courier New", monospace;
}

p {
	background-color: #ADD8FF;
	width: 625px;
	margin-left: auto;
	margin-right: auto;
	padding: 1%;
	border: 1px solid #000000;
	border-radius: 10px;
	box-shadow: 8px 8px 5px #111155;
}
