html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: Calibri, Helvetica, Arial, sans-serif;
}

#mapcanvas {
	height: 100%;
	width: 100%;
}

table {
	border-collapse: collapse;
}

td {
	border: 1px solid black;
	margin: 0px;
}

thead {
	font-weight: bold;
}
